svg {

}

svg .axis {
  stroke : #bdc3c7;
  fill : none;
}

svg .label {
  fill : #7f8c8d;
  font-family: sans-serif;
}

svg .graph {
  fill : #c0392b;
  fill-opacity : 0.6;
}

svg .datapoint {
  fill-opacity : 0;
  stroke-width : 2;
  stroke-opacity : 0;
  stroke : #ccc;
}

svg .datapoint.hover {
  stroke-opacity : 1;
}

svg .datapoint.selected {
  stroke-opacity : 1;
  stroke : #2c3e50;
}
